.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

.professores {
    list-style: none;
    width: 15em;
    border-radius: 10px;
    margin: 20px 40px auto 0;
    display: inline-block;
}

.professores button{
    padding: 10px;
    border: none;
    background-color: rgb(113, 198, 255);
    border-radius: 10px;
    width: 100%;
    margin: 10px 0 7px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.professores button:hover{
    cursor: pointer;
    background-color: grey;

}

.professores button.selected{
    background-color: rgb(0, 153, 255);
}

.professores button:active {
    background-color: rgb(0, 153, 255);
}

.professores button.selected:active {
    background-color: rgb(0, 153, 255);
}
