body{
    display: flex;
    margin: none;
}

.student-details{
    display: flex;
    width: 100%;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.student-details label {
    width: 260px;
    margin: auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0 auto -15px auto;
    width: 16%;
    display: flex; */
}

.student-details input {
    border: none;
    width: 300px;
    border-radius: 30px;
    padding: 8px;
    margin: 5px 0 15px 0;
    background-color: #d2edff;
}

.estudantes{
    display:flex;
}